---
import Layout from '~/layouts/Layout.astro'
import { getSortedPosts } from '~/utils'
import PostPreview from '~/components/PostPreview.astro'
import Pagination from '~/components/Pagination.astro'
import SectionHeader from '~/components/SectionHeader.astro'
import siteConfig from '~/site.config'
import TagsSection from '~/components/TagsSection.astro'
import SeriesSection from '~/components/SeriesSection.astro'

const sortedPosts = await getSortedPosts()
const postsHaveTags = sortedPosts.some(
  (post) => post.data.tags && post.data.tags.length > 0,
)
const postsHaveSeries = sortedPosts.some((post) => post.data.series)
---

<Layout>
  <p class="text-foreground/45 text-xs sm:text-sm font-mono mt-2 mb-6">
    Type <code class="text-accent">help</code> for commands,
    <code class="text-accent">posts</code> to browse,
    <code class="text-accent">about</code> for more.
  </p>

  {
    postsHaveSeries && (
      <section class="my-5">
        <SectionHeader title="Series" />
        <SeriesSection posts={sortedPosts} />
      </section>
    )
  }
  {
    sortedPosts.length > 0 && (
      <section class="my-5">
        <SectionHeader title="Posts" />
        {sortedPosts
          .reverse()
          .slice(0, Math.floor(siteConfig.pageSize / 2))
          .map((post) => (
            <PostPreview post={post} />
          ))}
        <Pagination nextLink="/posts" nextText="Archive" />
      </section>
    )
  }
  {postsHaveTags && <TagsSection posts={sortedPosts} />}
</Layout>

<style is:global>
  a.heading-anchor {
    display: none !important;
  }
</style>
