---
import type { CollectionEntry } from 'astro:content'
import { SeriesGroup } from '~/utils'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
const seriesGroup = await SeriesGroup.build(posts)
---

<div class="flex flex-wrap gap-x-4 gap-y-1 pl-4 font-mono text-sm">
  {
    seriesGroup.sortCollationsMostRecent().map((series) => (
      <a
        href={series.url}
        class="text-magenta hover:underline no-underline whitespace-nowrap"
      >
        {series.title}<span class="text-foreground/40">({series.entries.length})</span>
      </a>
    ))
  }
</div>
