---
import type { CollectionEntry } from 'astro:content'
import { TagsGroup } from '~/utils'
import SectionHeader from '~/components/SectionHeader.astro'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
const tagsGroup = await TagsGroup.build(posts)
const tags = tagsGroup.sortCollationsLargest()
---

<section class="font-mono text-sm my-5">
  <SectionHeader title="Tags" />
  <div class="flex flex-wrap gap-x-4 gap-y-1 pl-4">
    {
      tags.map((tag) => (
        <a
          href={tag.url}
          class="text-magenta hover:underline no-underline whitespace-nowrap"
        >
          {tag.title}<span class="text-foreground/40">({tag.entries.length})</span>
        </a>
      ))
    }
  </div>
</section>
