---
import type { Collation } from '~/types'

interface Props {
  tags: Collation<'posts'>[]
}

const { tags } = Astro.props
---

<div class="flex flex-wrap gap-x-3 gap-y-1 font-mono text-sm">
  {
    tags.map((tag) => (
      <a
        href={tag.url}
        class="text-magenta hover:underline no-underline"
      >
        --tag={tag.title}
      </a>
    ))
  }
</div>
