---
import type { CollectionEntry } from 'astro:content'
import { TagsGroup } from '~/utils'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
const tagsGroup = await TagsGroup.build(posts)
const tags = tagsGroup.sortCollationsLargest()
const maxLen = tags.reduce((m, t) => Math.max(m, t.title.length), 0)
---

<ul class="font-mono text-sm my-5">
  {
    tags.map((tag) => (
      <li>
        <a
          href={tag.url}
          class="block py-1 hover:bg-accent/10 -mx-2 px-2 no-underline"
        >
          <span class="text-magenta">--tag={tag.title.padEnd(maxLen, ' ')}</span>
          <span class="text-foreground/40 ml-3">{`# ${tag.entries.length} ${tag.entries.length === 1 ? 'post' : 'posts'}`}</span>
        </a>
      </li>
    ))
  }
</ul>
